# Default owners
*                       @Dynatrace/kubernetes-operator @Dynatrace/team-aid

# k8sinit
/cmd/k8sinit/           @Dynatrace/kubernetes-operator
/pkg/configure/         @Dynatrace/kubernetes-operator
/pkg/move/              @Dynatrace/kubernetes-operator

# serverless
/cmd/serverless/        @Dynatrace/team-aid
